{% set articles = [{"url":"example3","id":"5","title":"Example 3","date":"November 18 2023","image":"/static/img/test-img.jpg","tags":[],"author":"example3","desc":"Test description"},{"url":"example2","id":"1","title":"BCH Technical Bulletin 2021-12-23 (Evaluate Viability of Transaction Format or ID Change)","date":"November 18 2022","image":"/static/img/test-img.jpg","tags":["Technical","Tag 2"],"author":"BU","desc":"Test description"},{}] %}
