{% extends 'base.njk' %}

{% block meta %}
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<% get('title') %> | Nexa">
  <meta name="twitter:image" content="https://www.nexa.org<% get('image') %>">

  <!-- Facebook -->
  <meta property="og:url" content="https://nexa.io/">
  <meta property="og:site_name" content="Nexa">
  <meta property="og:title" content="<% get('title') %> | Nexa">
  <meta property="og:type" content="website">
  <meta property="og:description" content="<% get('title') %> | Nexa">
  <meta name="og:image" content="https://www.nexa.org<% get('image') %>">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
{% endblock %}

{% block title %}<% get('title') %>{% endblock %}
{% block description %}<% get('description') %>{% endblock %}

{% block body %}
<div class="article">
  {# Hero header #}
  <section class="mx-auto md:max-w-2xl md:px-5 lg:max-w-4xl lg:px-8">
    <div class="">
      <div class="h-60 bg-cover border-white md:h-72 md:border lg:h-88 xl:h-96 2xl:h-130" style="background-image: url('<% get('image') %>');"></div>
    </div>

    <div class="mb-6 border-b border-white md:border-0">
      <div>
        <div class="flex justify-end md:justify-between max-w-md mx-auto text-right text-sm font-bold uppercase overflow-hidden md:max-w-none md:border-b md:border-r md:border-l">
          <div class="hidden flex h-100 -ml-6 p2-3 px-6 bg-white -skew-20 md:block md:w-2/5"></div>
          <span class="py-2 px-6"><% get('tags') %> | <% get('date') %> | <span class="whitespace-nowrap"><% get('author') %></span></span>
        </div>
      </div>
    </div>

    <div class="max-w-md mx-auto md:max-w-2xl lg:max-w-4xl px-5 md:px-0">
      <h1 class="title mb-6 mt-10 text-7xl md:text-6xl font-light uppercase"><% get('title') %></h1>
    </div>
  </section>
  {# /Hero header #}

  {# Content #}
  <section class="pb-24 mt-8 overflow-hidden md:pb-32 lg:pb-40">
    <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8">
      <% get('content') %>
    </div>
  </section>
  {# /Content #}

</div>
{% endblock %}
