@tailwind base;
@tailwind components;
@tailwind utilities;


/* Articles */

.article h1,
.article h2,
.article h3,
.article h4 {
  @apply relative pb-2 uppercase leading-7 font-medium mb-0;
}

.article h1 {
  @apply text-4xl mt-8 relative mb-5;
}

.article h1:after {
  content:"";

  @apply absolute h-3 w-20 bg-yellow-300 text-yellow-300;
  left: 0;
  bottom: -10px;
}

.article h2 {
  @apply text-3xl mt-8;
}

.article h3 {
  @apply text-2xl mt-6;
}

.article h4 {
  @apply text-lg mt-4;
}

.article p {
  @apply mb-4;
}

.article a {
  @apply font-medium text-yellow-300;
}

.article img {
  @apply w-full my-6;
}

.article pre {
  @apply mb-4 p-4 bg-purple-900 overflow-hidden overflow-x-auto;
}

.article ul {
  list-style-type: square;
}

.title h1 {
  @apply text-7xl mt-8;
}

.title h1::after {
  @apply block absolute bottom-0 left-0 w-1/4 h-0.5 bg-yellow-300;

  content: '';
}


/* Buttons */
.btn-tag-toggle {
  @apply block m-1 py-2 px-6 text-white font-bold border-2 border-white
  -skew-10 hover:bg-white hover:bg-opacity-10;
}

.btn-tag-toggle.active {
  @apply text-purple-900 bg-white;
}

.btn-white {
  @apply block m-1 py-2 px-6 text-white font-bold border-2 border-white
  -skew-10 bg-white text-purple-900 hover:bg-purple-900 hover:text-white;
}


.btn-purple {
  @apply block m-1 py-2 px-6 font-bold border-2 border-purple-900
  -skew-10 bg-purple-900 text-white hover:text-purple-900 hover:bg-white;
}

.btn-outline-purple {
  @apply block m-1 py-2 px-6 text-purple-900 font-bold border-2 border-purple-900
  -skew-10 hover:bg-purple-900 hover:text-white;
}


.filter-mega {
  filter: brightness(1) contrast(.4) sepia(1) hue-rotate(271deg) saturate(.5);
}

.filter-mega-parent:focus .filter-mega,
.filter-mega-parent:hover .filter-mega {
  @apply opacity-100;

  filter: brightness(1) contrast(.5) sepia(1) hue-rotate(10deg) saturate(3);
}

.offset-mega-parent:focus .offset-mega,
.offset-mega-parent:hover .offset-mega {
  @apply -mt-5 -ml-5;
}

/* Tailwind skew appears to be broken */
.-skew-20 {
  transform: skew(-20deg);
}

.-skew-10 {
  transform: skew(-10deg);
}

.skew-10 {
  transform: skew(10deg);
}

.skew-20 {
  transform: skew(20deg);
}

@media (min-width: 768px) {
  .md\:-skew-20 {
    transform: skew(-20deg);
  }
}

@media (min-width: 1024px) {
  .lg\:line-clamp-2  {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

@media (max-width: 1023px) {
  .offset-mega-parent:focus .offset-mega-news,
  .offset-mega-parent:hover .offset-mega-news {
    @apply -mt-3 -ml-3;
  }
}


/* Roadmap */

#roadmap li {
  @apply ml-10 list-disc;
}
