{% extends "base.njk" %}

{% block body %}

{# Hero header #}
<section>
  {% set componentTitle = "The foundation of our future global digital economy." %}
  {% set componentText = "Come join the revolution to build something that will last and age and change humanity’s path forever." %}
  {% set componentImage = "/static/articles/rene-bohmer-yeuvdkzwsz4-unsplash-1.jpg" %}
  {% set componentBtnText = "Let's go!" %}
  {% include "components/hero-header.njk" %}
</section>

{# Paragraph + buttons #}
<section>
  {% set componentTitle = "HEADING 1" %}
  {% set componentText = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}
  {% include "components/paragraph-cta.njk" %}
</section>

{# Paragraph + image #}
<section>
  {% set componentTitle = "Paragraph and image" %}
  {% set componentImage = "/static/articles/rene-bohmer-yeuvdkzwsz4-unsplash-1.jpg" %}
  {% set componentText = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}
  {% include "components/paragraph-image.njk" %}
</section>

{# Paragraph + image inverted #}
<section>
  {% set orientation = "inverted" %}
  {% set componentTitle = "Paragraph inverted" %}
  {% set componentImage = "/static/articles/rene-bohmer-yeuvdkzwsz4-unsplash-1.jpg" %}
  {% set componentText = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}
  {% include "components/paragraph-image.njk" %}
</section>

{# Card #}
<section>
  {% set componentTitle = "Discover Nexa For Games" %}
  {% set componentImage = "/static/img/cubes.png" %}
  {% set componentText = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}
  {% include "components/card.njk" %}
</section>

{# Card purple bg #}
<section class="bg-white">
  {% set bg = "purple" %}
  {% set componentTitle = "Discover Nexa For Games" %}
  {% set componentImage = "/static/img/cubes.png" %}
  {% set componentText = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}
  {% include "components/card.njk" %}
</section>

{# Double paragraph #}
<section class="bg-white text-gray-700">
  {% set componentTitle1 = "Heading 1" %}
  {% set componentText1 = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}
  {% set componentTitle2 = "Heading 2" %}
  {% set componentText2 = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget egestas sapien. Nam fringilla dui quis magna efficitur, id laoreet nunc dignissim. Morbi aliquam augue dui, in mattis justo dapibus ac. Donec tempor, lorem id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget egestas sapien. Nam fringilla dui quis magna efficitur, id laoreet nunc dignissim. Morbi aliquam augue dui." %}

  {% include "components/double-paragraph.njk" %}
</section>
{% endblock %}
