{% extends "base.njk" %}

{% block body %}
<!-- Hero header -->
<section class="pt-12 md:pt-16 lg:pt-20">
  <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <h1 class="text-5xl md:text-6xl font-light uppercase">Download</h1>
  </div>
</section>
<!-- /Hero header -->

<!-- Features -->
<section class="py-24 pt-12 overflow-hidden md:py-32 md:pt-16 lg:py-40 lg:pt-20">
  <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">

    {% for download in downloads %}
    {% if loop.index0 == 0 %}
    <div x-data="{ open: true }">
    {% else %}
    <div x-data="{ open: false }">
    {% endif %}
      <div class="flex w-full font-medium mt-4 ml-1">
        <button @click="open = !open" class="flex w-full -ml-4 text-purple-900 text-center font-medium -skew-10">
          <span class="w-2/5 py-2 px-4 pl-8 bg-yellow-300 border border-yellow-300">
            <span class="block skew-10">{{ download.version }}</span>
          </span>
          <span class="w-3/5 py-2 px-4 whitespace-nowrap bg-white border border-white">
            <span class="skew-10 block">{{ download.date }}</span>
          </span>
        </button>

        <a href="{{ download.release_notes_link }}" class="hidden w-full py-2 px-4 text-center whitespace-nowrap border border-white border-l-0 -skew-10 md:block">
          <span class="block skew-10">Release Notes</span>
        </a>
        <a href="{{ download.source_code_link }}" class="hidden w-full py-2 px-4 text-center whitespace-nowrap border border-white border-l-0 -skew-10 md:block">
          <span class="block skew-10">Source Code</span>
        </a>

        <!-- accordion button -->
        <div @click="open = !open" class="flex items-center justify-center cursor-pointer hover:bg-white hover:text-purple-900 w-1/3 py-2 px-4 border-t border-r border-b border-white -skew-10 md:w-1/2">
          <span class="skew-10 md:block">Details</span>
        </div>
        <!-- /accordion button -->
      </div>

      <!-- card content -->
      <div class="lg:p-8 lg:border lg:border-t-0 lg:border-white" x-show="open">
        <div class="flex flex-wrap p-4 pb-12 text-center text-xs border border-t-0 border-white lg:p-0 lg:border-0">
          <div class="flex relative w-full mb-8 md:justify-end md:w-1/2 2xl:w-1/4">
            <div class="absolute bottom-0 w-full pb-2.5 text-purple-900 font-medium">
              <div class="flex items-center mb-2.5">
                <div class="w-full border-b border-white md:order-2"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white md:order-1">
                  <span>32-bit</span>
                </div>
              </div>
              <div class="flex items-center">
                <div class="w-full border-b border-white md:order-2"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white md:order-1">
                  <span>64-bit</span>
                </div>
              </div>
            </div>
            <div class="relative z-20 w-min md:pr-4 lg:pr-8">
              <div class="mb-1 text-base text-left font-medium md:text-center">OSX</div>
              <div class="flex border border-white">
                <div class="w-18 h-18 m-0.5 mr-0 bg-white">
                  <img src="/static/img/download-osx.png" width="72" height="72" alt="">
                </div>
                <div class="flex-grow p-0.5">
                  <div class="flex flex-wrap w-18">
                    <a href="{{ download.base_url }}{{ download.version }}-osx.tar.gz" target="_blank" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">TAR</a>
                    <a href=""  class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                    <a href="{{ download.base_url }}{{ download.version }}-osx.dmg" target="_blank" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">DMG</a>
                    <a href="{{ download.base_url }}{{ download.version }}-osx64.tar.gz" target="_blank" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">TAR</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex relative w-full mb-8 md:w-1/2 2xl:justify-center 2xl:w-1/4">
            <div class="relative z-20 w-min md:pl-4 lg:pl-8 2xl:px-2">
              <div class="mb-1 text-base text-left font-medium md:text-center">Windows</div>
              <div class="flex border border-white">
                <div class="w-18 h-18 m-0.5 mr-0 bg-white">
                  <img src="/static/img/download-windows.png" width="72" height="72" alt="">
                </div>
                <div class="flex-grow p-0.5">
                  <div class="flex flex-wrap w-18">
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                    <a href="{{ download.base_url }}{{ download.version }}-win64-setup.exe" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">EXE</a>
                    <a href="{{ download.base_url }}{{ download.version }}-win64.zip" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">ZIP</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="absolute bottom-0 w-full pb-2.5 text-purple-900 font-medium">
              <div class="flex items-center mb-2.5">
                <div class="w-full border-b border-white"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white 2xl:w-0">
                  <span class="2xl:hidden">32-bit</span>
                </div>
              </div>
              <div class="flex items-center">
                <div class="w-full border-b border-white"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white 2xl:w-0">
                  <span class="2xl:hidden">64-bit</span>
                </div>
              </div>
            </div>
          </div>
          <div class="flex relative w-full mb-8 md:justify-end md:w-1/2 2xl:justify-center 2xl:w-1/4">
            <div class="relative z-20 w-min md:pr-4 lg:pr-8 2xl:px-2">
              <div class="mb-1 text-base text-left font-medium md:text-center">Linux</div>
              <div class="flex border border-white">
                <div class="w-18 h-18 m-0.5 mr-0 bg-white">
                  <img src="/static/img/download-linux.png" width="72" height="72" alt="">
                </div>
                <div class="flex-grow p-0.5">
                  <div class="flex flex-wrap w-18">
                    <a href="{{ download.base_url }}{{ download.version }}-linux64.tar.gz" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">TAR</a>
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="absolute bottom-0 w-full pb-2.5 text-purple-900 font-medium">
              <div class="flex items-center mb-2.5">
                <div class="w-full border-b border-white md:order-2"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white md:order-1 2xl:w-0">
                  <span class="2xl:hidden">32-bit</span>
                </div>
              </div>
              <div class="flex items-center">
                <div class="w-full border-b border-white md:order-2"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white md:order-1 2xl:w-0">
                  <span class="2xl:hidden">64-bit</span>
                </div>
              </div>
            </div>
          </div>
          <div class="relative w-full mb-8 md:w-1/2 2xl:w-1/4">
            <div class="relative z-20 w-min md:pl-4 lg:pl-8">
              <div class="mb-1 text-base text-left font-medium md:text-center">ARM</div>
              <div class="flex border border-white">
                <div class="w-18 h-18 m-0.5 mr-0 bg-white">
                  <img src="/static/img/download-arm.png" width="72" height="72" alt="">
                </div>
                <div class="flex-grow p-0.5">
                  <div class="flex flex-wrap w-18">
                    <a href="{{ download.base_url }}{{ download.version }}-arm32.tar.gz" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">TAR</a>
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                    <a href="{{ download.base_url }}{{ download.version }}-arm64.tar.gz" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">TAR</a>
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="absolute bottom-0 w-full pb-2.5 text-purple-900 font-medium">
              <div class="flex items-center mb-2.5">
                <div class="w-full border-b border-white"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white">
                  <span>32-bit</span>
                </div>
              </div>
              <div class="flex items-center">
                <div class="w-full border-b border-white"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white">
                  <span>64-bit</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="-mt-6 text-center lg:mt-8 lg:text-left">
          <div class="inline-block h-12 py-2 px-5 text-purple-900 text-xl leading-7 font-medium bg-white lg:ml-8">Signed Statement</div>
          <div class="-mt-6 p-12 pt-16 break-all text-sm text-left bg-purple-900 border-white border border-b-0" style="overflow-x: scroll";><pre>{{ download.signed_statement }}</pre>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-1/3">
            <div class="p-2 text-center text-purple-900 font-semibold bg-white">{{ download.signer_one.name }}</div>
            <div class="break-all text-sm bg-purple-900 border-white border border-t-0">
              <div class="h-16 py-3 px-4">{{ download.signer_one.address }}</div>
              <div class="h-24 py-3 px-4 border-white border-t">{{ download.signer_one.signature }}</div>
            </div>
          </div>
          <div class="w-full lg:w-1/3">
            <div class="p-2 text-center text-purple-900 font-semibold bg-white">{{ download.signer_two.name }}</div>
            <div class="break-all text-sm bg-purple-900 border-white border border-t-0 lg:border-r-0 lg:border-l-0">
              <div class="h-16 py-3 px-4">{{ download.signer_two.address }}</div>
              <div class="h-24 py-3 px-4 border-white border-t">{{ download.signer_two.signature }}</div>
            </div>
          </div>
          <div class="w-full lg:w-1/3">
            <div class="p-2 text-center text-purple-900 font-semibold bg-white">{{ download.signer_three.name }}</div>
            <div class="break-all text-sm bg-purple-900 border-white border border-t-0">
              <div class="h-16 py-3 px-4">{{ download.signer_three.address }}</div>
              <div class="h-24 py-3 px-4 border-white border-t">{{ download.signer_three.signature }}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- /card content -->
    </div>
    {% endfor %}

  </div>
</section>
<!-- /Features -->
{% endblock %}
