{% extends "base.njk" %}

{% block body %}
<!-- Hero header -->
<section class="pt-12 md:pt-16 lg:pt-20">
  <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <h1 class="mb-4 text-5xl md:text-6xl font-light uppercase">Tech</h1>
  </div>
</section>
<!-- /Hero header -->

<!-- Features -->
<section class="py-24 pt-12 md:py-32 md:pt-16 lg:py-40 lg:pt-20">
  <div class="flex flex-wrap max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <div class="w-full md:order-2 md:w-3/5 md:pl-8">
      <div class="h-80 bg-top bg-contain bg-no-repeat md:h-96 lg:h-130" style="background-image: url('/static/img/diamond-81.svg');">
      </div>
    </div>
    <div class="w-full md:order-1 md:w-2/5">
      <h2 class="mb-4 text-3xl leading-7 font-medium">Group Tokenization</h2>
      <p>Nexa has advanced token functionality built directly into the protocol by default. That means creating, minting, and sending tokens is as easy as sending Nexa coins.</p>
      <p class="mt-6 md:mt-8 lg:mt-10">Whether you want to build the next blow up NFT project or create a share token for your company, Nexa has the technology for you. Native tokens are secured with the exact same battle-tested proof-of-work scheme as Nexa coins so it is easy to create a new token project without having to worry about complex or unreliable solutions.</p>
      <p class="mt-6 md:mt-8 lg:mt-10">Groups also allow Nexa coins to be "fenced" allowing custom constraints to be applied to these coins.</p>
    </div>
  </div>
</section>
<div class="h-130 -my-32 bg-left-bottom bg-size-md bg-no-repeat md:h-192 md:-my-52 md:bg-size-lg lg:h-240 lg:-my-88 lg:bg-size-xl xl:h-288 xl:-my-96 xl:bg-size-2xl 2xl:h-360 2xl:-my-112 2xl:bg-cover" style="background-image: url('/static/img/filament-2.svg')">
</div>
<section class="py-24 md:py-32 lg:py-40">
  <div class="flex flex-wrap items-center max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <div class="w-full md:w-3/5 md:mb-0">
      <div class="h-60 bg-top bg-contain bg-no-repeat md:h-96 lg:h-130" style="background-image: url('/static/img/transaction.svg');">
      </div>
    </div>
    <div class="w-full text-right md:w-2/5">
      <h2 class="mb-4 text-3xl leading-7 font-medium">Transactions</h2>
      <p>Nexa has deployed a new advanced 3-participant scripting architecture: the covenant author, the owner, and the spender.  Scripts are committed to in outputs, but only included in transactions when executed.  This minimizes UTXO space and accurately aligns transaction size with validation effort.  </p>
      <p class="mt-6 md:mt-8 lg:mt-10">Transactions refer to the ledger entries they spend by a special identifier (called the idem) that does not include the previous transactions' signatures.  This architecture has many advantages; two are that child transactions can be signed before parents, and most forms of 3rd party transaction malleability are prevented.</p>
    </div>
  </div>
</section>
<section class="py-24 md:py-32 lg:py-40">
  <div class="flex flex-wrap items-center max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <div class="w-full mb-6 md:order-2 md:w-3/5 md:mb-0 md:pl-8">
      <div class="h-72 bg-top bg-contain bg-no-repeat md:h-96 lg:h-130" style="background-image: url('/static/img/scripting.svg');">
      </div>
    </div>
    <div class="w-full md:order-1 md:w-2/5">
      <h2 class="mb-4 text-3xl leading-7 font-medium">Advanced Smart-contracts</h2>
      <p>Nexa has deployed "transaction introspection" allowing smart-contracts to query their own code, including the ability to see data on the tokens they contain.</p>
      <p class="mt-6 md:mt-8 lg:mt-10">Nexa smart-contracts also allow the use of large and cryptographically useful numbers, limited subroutine execution, and more powerful stack access.  Nexa smart-contracts also include high flexibility in partial signing, which open up the possibility for fascinating new protocols.</p>
    </div>
  </div>
</section>
<section class="py-24 md:py-32 lg:py-40">
  <div class="flex flex-wrap items-center max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <div class="w-full md:w-3/5 md:mb-0">
      <div class="h-60 bg-top bg-contain bg-no-repeat md:h-96 lg:h-130" style="background-image: url('/static/img/diamond-82.svg');">
      </div>
    </div>
    <div class="w-full text-right md:w-2/5">
      <h2 class="mb-4 text-3xl leading-7 font-medium">Graphene / X-Thin</h2>
      <p>Nexa uses next generation compression technologies to massively increase the capacity of the network. Blocks are now transferred using minimal data to keep the network healthy and ready for business.</p>
      <p class="mt-6 md:mt-8 lg:mt-10">Graphene and X-Thin are technologies that efficiently transmit blocks.  This allows Nexa to scale orders of magnitude larger than Bitcoin without any risk of miner centralization.</p>
    </div>
  </div>
</section>
<div class="h-130 -my-32 -mb-60 bg-top bg-size-md bg-no-repeat md:h-192 md:-my-52 md:-mb-112 md:bg-size-lg lg:h-240 lg:-my-80 lg:-mb-160 lg:bg-size-xl xl:h-288 xl:-my-80 xl:-mb-160 xl:bg-size-2xl 2xl:h-360 2xl:-my-80 2xl:-mb-200 2xl:bg-cover" style="background-image: url('/static/img/filament-3.svg')">
</div>
<section class="py-24 md:py-32 lg:py-40">
  <div class="flex flex-wrap items-center max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <div class="w-full mb-6 md:order-2 md:w-3/5 md:mb-0 md:pl-8">
      <div class="h-72 bg-top bg-contain bg-no-repeat md:h-96 lg:h-130" style="background-image: url('/static/img/diamond-101.svg');">
      </div>
    </div>
    <div class="w-full md:order-1 md:w-2/5">
      <h2 class="mb-4 text-3xl leading-7 font-medium">Double-spend Proofs</h2>
      <p>Nexa is built to support businesses. Double-spend proofs allow businesses to offer faster payments while lowering the risks of fraud, thereby saving money and improving service.</p>
      <p class="mt-6 md:mt-8 lg:mt-10">The Nexa software supports the ability to notify other nodes, and wallets of any attempts at fraud via the ‘double-spend’ method. Wallet providers can implement this technology to provide alerts to their users to reduce the risk of losses.</p>
      <p class="mt-6 md:mt-8 lg:mt-10">Businesses that use this technology for lower value transactions can potentially offer instant payments to their customers. This is a fantastic solution for brick and mortar vendors or online businesses with time-sensitive products.</p>
    </div>
  </div>
</section>
<!-- /Features -->
{% endblock %}
